.hotkey {
  @apply bg-white p-[0.1rem] pt-0 border-solid border-silicon-100 dark:bg-silicon-900 dark:border-silicon-800 rounded-lg inline-block shadow-sm;
}

.key {
  font-family: var(--ifm-font-family-base);
  word-break: keep-all;
  white-space: nowrap;
  @apply px-1.5 py-1 text-xs inline-block min-w-[1.5rem] font-semibold text-center text-silicon-700 bg-silicon-50 border border-silicon-200 rounded-lg dark:bg-silicon-100/10 dark:text-silicon-100 dark:border-silicon-100/10 shadow-none;
}